CELERY_BROKER_REDIS="VALUE"
DB_USER="VALUE"
DB_PASSWORD="VALUE"
DB_NAME="VALUE"
DB_HOST="VALUE"
DB_PORT="VALUE"
ALLOWED_HOSTS="[\"VALUE1\", \"VALUE2\"]"
CORS_ALLOWED_ORIGINS="[\"VALUE1\", \"VALUE2\"]"
CSRF_TRUSTED_ORIGINS="[\"VALUE1\", \"VALUE2\"]"
DEBUG="VALUE"
SECRET_KEY="VALUE"
SPAM_RATE_COUNT_LIMIT="VALUE"
SPAM_RATE_ZSCORE_BOUND="VALUE"
SPAM_RATE_PROB_DIFF_LIMIT="VALUE"
SPAM_DETECTION_IS_ACTIVE="VALUE"
